version: "3.8"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile # This should point to the backend Dockerfile
    container_name: starteryou-backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - MONGODB_URI=your_mongodb_uri
      - FRONTEND_URL=http://54.196.202.145:8080
      - PORT=3000
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - starteryou-network

  frontend:
    build:
      context: ./frontend # Updated to point to the frontend directory
      dockerfile: Dockerfile # This should point to the frontend Dockerfile
    container_name: starteryou-frontend
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      - BACKEND_URL=http://54.196.202.145:3000
    depends_on:
      - backend
    networks:
      - starteryou-network

networks:
  starteryou-network:
    driver: bridge
